### ignore files without extensions (binaries)
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefiles
!*/Makefile

# ignore archive files
*.tar
*.zip
*.gz

# ignore media files
*.mp4
*.mov

# ignore writeups
*.pdf
*.docx

# ignore premier files
*.prproj

# ignore stupid mac shit
*.DS_Store
*.m4a
